.img{
  width: 50%;
  height: 60%
}
div{

  padding-left: 2%;
  padding-bottom: 4%;
}
@media (max-width: 1028px) {

  body {
    text-align: center;
  }
  p{
    text-align: left;
   
        width: 100%;
  }


}
.img {
    position: static;
    transform: rotate(0);
  }
.container-fluid{
  padding: 7% 15%;
}
